!!! 5
%html 
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    = stylesheet_link_tag "blueprint/screen.css", "application.css", :media => "screen, projection"
    = stylesheet_link_tag "blueprint/print.css", :media => "print"
    %title
      = title
      
%body
  .container
    #flash
      - flash.each do |key,value|
        = content_tag(:div, value, :class => "flash #{key}") 
    = yield
    = render 'layouts/footer'
    = debug(params) if Rails.env.development?
  = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "application", :cache => true